.select_input_wrapper {
  height: 6.4rem;
  flex: 0.5;
  position: relative;
}

.select_input_wrapper > label {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1rem;
  display: flex;
}

.select_input_wrapper > label > sup {
  font-size: 2rem;
  color: rgba(235, 87, 87, 1);
  margin-left: 1rem;
}

.select_input_wrapper > select {
  height: 100%;
  display: block;
  width: 100%;
  border: 1px solid var(--secondary-color);
  border-radius: 1rem;
  outline: none;
  font-weight: 400;
  font-size: 2rem;
  color: rgba(79, 79, 79, 1);
  padding-inline: 2.7rem;
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  background-color: #ffff;
}

.select_input_wrapper > svg {
  position: absolute;
  top: 6rem;
  right: 3rem;
  pointer-events: none;
}
